/* You can add custom styles here. */

// @import "plugins/numbered";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$sidenote-width: 20rem;
$sidenote-offset: 10rem;
$container-width: 10rem;

body{
   font-family: 'Open Sans',serif; //Encode Sans
}

.sidenote-content {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote:hover 
    .sidenote-label {
        background-color: #36e281;
        color:#fff
    }
    
    .sidenote:hover 
        .sidenote-content {
	    border: .2rem dashed;
            padding: .875rem; 
            border-color:#36e281 
        }
	    
	.sidenote-label {
	    border-bottom:.2rem dashed #36e281
        }

	.sidenote-checkbox{
	    display:none
        }

	.sidenote-content {
	    display:block;
            position:relative;
            width:12rem; 
            box-sizing:border-box;
            border:.075rem solid #bfbfbf; 
            border-radius:.2rem;
            margin-top:-1.5rem;
            padding:1rem;
            text-align:left
        }
	
	.sidenote-content.sidenote-right {
	    right:0;
            margin-right:-31.5rem
        }
	
	@media screen and (max-width:78.5rem) {
	    .sidenote-content.sidenote-right {display:none}
            }
	    
        .sidenote-content.sidenote-left {left:0;margin-left:-31.5rem}
	
	@media screen and (max-width:110rem){
	    .sidenote-content.sidenote-left{display:none}
        }
	
	.sidenote-delimiter{display:none}
	
	@media screen and (max-width:110rem) {
	    .sidenote-content.sidenote-left {
                position:static; 
                margin-top:1rem;
                margin-bottom:1rem;
                width:100%;
	        margin-left:0
	        }
	
	    .sidenote-checkbox:checked~.sidenote-content.sidenote-left {
                display:block 
            }
        }
	
        @media screen and (max-width:78.5rem) {
	    .sidenote-content.sidenote-right {
	        position:static;
	        margin-top:1rem; 
	        margin-bottom:1rem;
	        width:100%;
	        margin-right:0
	    }
	    
	.sidenote-checkbox:checked~.sidenote-content.sidenote-right {
	    display:block
        }
    }

